:root{
    --bgc1: #316064;
    --bgc2: #808080d4;
    --bgcbtn: #73c0b0;
    --bgctitle: #4b908e;
    --titleclr: #b8d7d5;
    --txtclr: #626270;
    --txtclr2: #4b1010;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--bgc1);
    color: var( --titleclr);
}
.main-title h1{
    margin: 0 auto;
    text-align: center;
    margin-top: 48px;
    margin-bottom: 32px;
    width: fit-content;
    background-color: var(--bgctitle);
    color:  var(--titleclr);
    font-size:  6em;
    border-radius: 10px;

}
.homepage ul {
    list-style: none;
}
.homepage li {
    list-style: none;
}
.homepage h2 {
    text-align: center;
    padding: 30px;
    margin-bottom: 24px;

}
.homepage a {
    background-color: var(--bgctitlee);
    border: 4px solid var(--titleclr);
    border-radius: 5px;
    padding: 30px;
    transition: background-color 0.5s ease;
    transition: color 0.325s ease;
    text-decoration : none;
}
.homepage a:hover  {
    background-color: var(--bgc2);
    color: var(--txtclr2);

}
/* ------------------------------------------------------------------------------- */
.list ol{
    list-style: none;
}
.list h2{
    text-align: center;
    padding: 24px;
    margin-bottom: 16px;
}
